
verdanvest/catalogo/__pycache__/

verdanvest/compras/__pycache__/

verdanvest/dashboard_marca/__pycache__/

verdanvest/estandares_valoraciones/__pycache__/

verdanvest/ingredientes_materiales/__pycache__/

verdanvest/estandares_valoraciones/migrations/__pycache__/

verdanvest/panel_administracion/__pycache__/

verdanvest/panel_administracion/migrations/__pycache__/

*.pyc
