{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
{% if user %}
<div style="display: flex; margin-top: 2rem;">
    <div style="flex: 3; padding: 10px; ">
        <h2><strong>Hi {{user.first_name}}</strong></h2>
        <p><a href="{% url 'auth:profile' %}" onclick="cambiarContenido('personal')">Personal Information</a></p>
        <p> <a href="#" onclick="cambiarContenido('shopping')">My shopping</a></p>
        <p><a href="{% url 'auth:logout' %}"><strong>Logout</strong></a></p>
    </div>
    <div style="flex: 7; padding: 10px; position: relative;">
        <div id='accountContent' style="margin-bottom: 20px;">
            <p style="font-weight: bold; margin-bottom: 5px; margin-right: 10px; font-size: large;">Access your
                account</p>
            <h6 style="margin-top: 10px; margin-bottom: 10px;">Password</h6>
            <p><strong>{{user.password}}</strong></p>
            <div class="line" style="width: 100%; border: 1px solid #ccc;"></div>
        </div>

        <div id="emailContent">
            <p style="font-weight: bold; margin-bottom: 5px; margin-right: 10px; font-size: large;">Email</p>
            <h6 style="margin-top: 10px; margin-bottom: 10px;">{{user.email}}</h6>
            <div class="line" style="width: 100%; border: 1px solid #ccc;"></div>
        </div>


        <div id="personalContent">
            <p style="font-weight: bold; margin-bottom: 5px; margin-right: 10px; font-size: large;">Personal
                Information
            </p>
            <h6 style="margin-top: 10px; margin-bottom: 10px;">Name: {{user.first_name}}</h6>
            <h6 style="margin-top: 10px; margin-bottom: 10px;">Lastname: {{user.last_name}}</h6>
            <div class="line" style="width: 100%; border: 1px solid #ccc;"></div>
        </div>

        <div id="addressContent">
            <p style="font-weight: bold; margin-bottom: 5px; margin-right: 10px; font-size: large;">My address</p>
            <form action="{% url 'auth:address'%}" method="post">
                {% csrf_token %}
                
                <div style="display: flex; align-items: flex-end;">
                    <input type="text" name="address" placeholder="Change"
                        style="border: none; border-bottom: 1px solid #ccc; background: none; padding: 5px; outline: none; margin-left: auto; width: 50%;">
            
                    <div style="margin-left: 10px; cursor: pointer;">
                        <img src="{% static 'img/editar.png' %}" alt="Editar" style="width: 20px; height: 20px;">
                    </div>
            
                    <button type="submit" style="border: none; background: none; cursor: pointer;">
                        Submit
                    </button>
                </div>
            </form>
            
            <!-- <div style="display: flex; align-items: flex-end;">
                <input type="password" placeholder="Add"
                    style="border: none; border-bottom: 1px solid #ccc; background: none; padding: 5px; outline: none; margin-left: auto;">
                <div style="margin-left: 10px; cursor: pointer;">
                    <img src="{% static 'img/editar.png' %}" alt="Editar" style="width: 20px; height: 20px;">
                </div>
            </div> -->
            <p style="font-weight: bold; margin-bottom: 5px; margin-right: 10px; font-size:medium;;">Add new address
            </p>
            <h6 style="margin-top: 10px; margin-bottom: 10px;">{{user.domicilio}}</h6>
            <div class="line" style="width: 100%; border: 1px solid #ccc;"></div>
        </div>
        <div id="shoppingContent" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">

            <p style="font-weight: bold;">Delivered</p>
            {% if pedido %}
            <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
                {% for pedido in pedidos%}
                <img src="{pedido.producto.urlImagen}" alt="Imagen 3" style="width: 200px; height: 200px;">
                {% endfor %}
            </div>
            <p style="color: #888;">You received: {{pedido.fecha_entrega_estimada}}</p>
            <p style="font-weight: bold;">Amount: USD 1000</p>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Llamamos a cambiarContenido con 'personal' como argumento al cargar la página
        cambiarContenido('personal');
    });

    function cambiarContenido(seccion) {
        // Oculta todos los contenidos
        document.getElementById('accountContent').style.display = 'none';
        document.getElementById('emailContent').style.display = 'none';
        document.getElementById('personalContent').style.display = 'none';
        document.getElementById('addressContent').style.display = 'none';
        document.getElementById('shoppingContent').style.display = 'none';

        // Muestra el contenido según la sección seleccionada
        if (seccion === 'personal') {
            document.getElementById('accountContent').style.display = 'block';
            document.getElementById('emailContent').style.display = 'block';
            document.getElementById('personalContent').style.display = 'block';
            document.getElementById('addressContent').style.display = 'block';
        } else if (seccion === 'shopping') {
            document.getElementById('shoppingContent').style.display = 'block';
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
    body {
        background-color: #f4f4f4;
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .navbar {
        background-color: #f4f4f4;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #ccc;
        position: relative;
    }

    .navbar-brand {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .nav {
        width: 100%;
        justify-content: center;
        padding-left: 0;
    }

    .nav-item {
        display: inline-block;
        margin: 0 10px;
    }

    a.nav-link {
        color: black;
        font-size: 16px;
        text-decoration: none;
    }

    a.nav-link:hover {
        text-decoration: none;
        color: #45a049;
        font: bold;
    }

    .overlay-word {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        padding: 5px;
        margin: 5px;
    }

    .search-cart-login {
        display: flex;
        align-items: center;
        height: 40px;
        /* Ajusta la altura según tus necesidades */
    }

    .login-link,
    .search-bar,
    .cart-icon {
        margin-left: 10px;
        margin-right: 5px;
        height: 100%;
        /* Ajusta la altura según tus necesidades */
    }

    .login-link {
        font-size: 14px;
        /* Ajusta el tamaño del texto según tus necesidades */
    }

    .search-bar {
        border: none;
        padding: 5px;
        border-radius: 3px;
    }

    .cart-icon,
    .login-link {
        color: black;
        cursor: pointer;
    }

    .cart-icon img {
        height: 100%;
        /* Ajusta la altura según tus necesidades */
    }

    .footer {
        background-color: #333333;
        color: white;
        padding: 20px 0;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0;
    }

    .cart-link {
        height: 100%;
        display: inline-block;
    }

    #personalinfo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #personalinfo p {
        font-weight: bold;
        margin-bottom: 5px;
        margin-right: 10px;
        size: 20px;
    }

    #personalinfo input {
        width: 150px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        padding: 5px;
    }

    #personalinfo h4 {
        margin-right: 10px;
    }

    .line {
        border-top: 1px solid #000;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    a {
        text-decoration: none;
        color: black;
    }
</style>
{% endblock %}