{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<div class="title-section">
    <h2>OUR MATERIALS</h2>
</div>

<div class="material-content">
    <div class="material-image">
        <img src="{% static 'desserto.webp' %}" alt="Material Image">
    </div>

    <div class="text-section">

        <div class="title-section">
            <h2>FROM MOTHER EARTH WITH LOVE</h2>
        </div>

        <h2>DESSERTO</h2>
        <p class="material-description">
            WE LAUNCHED OUR VEGAN LEATHER READY-TO-WEAR AND ACCESSORIES COLLECTIONS USING DESSERTO® CACTUS VEGAN
            LEATHER IN 2021.
        </p>
    </div>
</div>

<div class="sustainability-section">
    <h4>SUSTAINABLE USE OF TERRESTRIAL ECOSYSTEMS AND CLIMATE ACTION</h4>
    <p>
        By working with native cacti to the region, the plantation matches biodiversity and blends with wild
        flora. The harvesting techniques used stimulate the microflora and microfauna in the ground which
        are maintained without damage, and wildlife like hawks find a favorable environment that provides
        food.
    </p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}