{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
{% if categoria %}
<h2 class="text-center-title">{{categoria}}</h2>
{% endif %}
<a class="btn btn-primary float-end" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
    aria-controls="offcanvasExample" style="background-color: #829778;" style="margin-left: 50px; ">
    Search
    <img src="{% static 'img/filter.png' %}" style="width: 6%; text-align: center;">
</a>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Search by</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Category
            </button>
            <ul class="dropdown-menu">
                {% if categories %}
                {% for category in categories %}
                <li><a class="dropdown-item" href="{% url 'catalog:Catalog_category' category.id %}">{{category.nombre}}</a>
                </li>
                {% endfor%}
                {% endif%}
            </ul>
        </div>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Brand
            </button>
            <ul class="dropdown-menu">
                {% if brandies %}
                {% for brand in brandies %}
                <li><a class="dropdown-item" href="#">{{brand.nombre}}</a></li>
                {% endfor%}
                {% endif%}
            </ul>
        </div>

        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Ingredient
            </button>
            <ul class="dropdown-menu">
                {% if ingredients %}
                {% for ingredient in ingredients %}
                <li><a class="dropdown-item" href="#">{{ingredient.nombre}}</a></li>
                {% endfor%}
                {% endif%}
            </ul>
        </div>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Material
            </button>
            <ul class="dropdown-menu">
                {% if materials %}
                {% for material in materials %}
                <li><a class="dropdown-item" href="#">{{material.nombre}}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="container mt-5">
    {% if products %}
    <div class="row justify-content-center">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mx-auto" style="width: 18rem; height: 20rem; margin: 10px;">
                <img src="{{product.urlImagen}}" class="mx-auto d-block center" alt="Producto 1"
                    style="width: 200px; height: 200px; margin-top: 20px;">
                <div class="card-body">
                    <a href="{% url 'catalog:ProductDetail' product.id %}">
                        <h5 class="card-title"><strong>{{product.nombre}}</strong></h5>
                    </a>
                    <p class="card-text">USD {{product.precio}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2><strong>No results</strong></h2>
    {% endif%}
</div>


<div class="brands-container mt-4 mb-4">
    <h2 class="brand-title text-center mb-4">OUR BRANDS</h2>

    <div class="row justify-content-center">
        <div class="col-md-3 mb-4 text-center">
            <img src="{% static 'img/brand.jpg' %}" class="rounded-image img-fluid" style="max-height: 400px;"
                alt="Brand 1">
            <h4 class="brand-subtitle">DEZI</h4>
        </div>
        <div class="col-md-3 mb-4 text-center">
            <img src="{% static 'img/brand 2.jpg' %}" class="rounded-image img-fluid" style="max-height: 400px;"
                alt="Brand 2">
            <h4 class="brand-subtitle">DAIN</h4>
        </div>
        <div class="col-md-3 mb-4 text-center">
            <img src="{% static 'img/brand 3.jpg' %}" class="rounded-image img-fluid" style="max-height: 400px;"
                alt="Brand 3">
            <h4 class="brand-subtitle">ZERO</h4>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function toggleMaterial(material) {
        const details = document.getElementById(`${material}-details`);
        details.style.display = details.style.display === 'none' ? 'block' : 'none';
    }
</script>
<style>
    a.nav-link {
        color: black;
        font-size: 16px;
        text-decoration: none;
    }

    a.nav-link:hover {
        text-decoration: none;
        color: #45a049;
        font: bold;
    }

    .text-center-title {
        text-align: center;
        margin-top: 20px;
        /* Puedes ajustar el valor según tus necesidades */
    }

    .brands-container {
        background-color: #829778;
        padding: 20px;
        text-align: center;
        margin: 0, 30, 0, 0;
    }

    .brand-title {
        color: white;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .rounded-image {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    /* Estilo para el botón del dropdown */
    .dropdown button.btn-secondary {
        background-color: transparent;
        border: 1px solid #ccc;
        color: #333;
        width: 100%;
        /* Ancho igual al 100% del menú desplegable */
        text-align: justify;
    }

    .offcanvas-header {
        border-bottom: 1px solid #ccc;
    }

    a {
        text-decoration: none;
        color: black;
    }
</style>
{% endblock %}