{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-4">
  {% if product %}
  <div class="row product-info">
    <div class="col-md-5">
      <img src="{{ product.urlImagen }}" class="img-fluid" alt="Product">
    </div>
    <div class="col-md-7">
      <h3>{{product.nombre}}</h3>
      <p class="brand">{{product.marca.nombre}}</p>
      <p class="price">USD ${{product.precio}}</p>
      <form method="post" action="{% url 'catalog:addProductCart' product.id %}">
        {% csrf_token %}
        <div class="stepper">
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" name="quantity" min="1" value="1">
        </div>
        <button type="submit" class="btn btn-submit">ADD TO CAR</button>
      </form>
      <div class="title">UNVEIL BEAUTY IN EVERY DETAIL!</div>
      <p class="description">
        {{product.descripcion}}
      </p>
      {% if ingredients %}
      <div class="title">WHAT IS IT MADE OF?</div>
      {% for i in ingredients%}
      <div class="materials">
        <div class="material-item">
          <p>{{i.ingrediente.nombre}}</p>
          <a href="{% url 'detail:detailingrediente' i.ingrediente.id %}" style="text-decoration: none; color: black;"><strong>+</strong></a>
        </div>
        <div class="material-details" id="{i.ingrediente.nombre}-details">
          {{i.ingrediente.funcion}}
        </div>
      </div>
      {% endfor%}
      {% endif %}
    </div>
  </div>
  {% endif %}
  <div class="recommended-products">
    <h3 class="my-4">Highly recommended!</h3>
    <div class="row">
      {% if recomend %}
      {% for rec in recomend%}
      <div class="col-md-3">
        <div class="card h-100">
          <img src="{{rec.urlImagen}}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">{{rec.nombre}}</p>
            <p class="card-text">${{rec.precio}} USD</p>
          </div>
        </div>
      </div>
      {% endfor%}
      {% endif%}
      <!-- Repeat for other products -->
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
  body {
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .navbar {
    background-color: #f4f4f4;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
    position: relative;
  }

  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .nav {
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }

  .nav-item {
    display: inline-block;
    margin: 0 10px;
  }

  a.nav-link {
    color: black;
    font-size: 16px;
    text-decoration: none;
  }

  a.nav-link:hover {
    text-decoration: none;
    color: #45a049;
    font: bold;
  }

  .overlay-word {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 5px;
    margin: 5px;
  }

  .search-cart-login {
    display: flex;
    align-items: center;
    height: 40px;
    /* Ajusta la altura según tus necesidades */
  }

  .login-link,
  .search-bar,
  .cart-icon {
    margin-left: 10px;
    margin-right: 5px;
    height: 100%;
    /* Ajusta la altura según tus necesidades */
  }

  .login-link {
    font-size: 14px;
    /* Ajusta el tamaño del texto según tus necesidades */
  }

  .search-bar {
    border: none;
    padding: 5px;
    border-radius: 3px;
  }

  .cart-icon,
  .login-link {
    color: black;
    cursor: pointer;
  }

  .cart-icon img {
    height: 100%;
    /* Ajusta la altura según tus necesidades */
  }

  .footer {
    background-color: #333333;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
  }

  .product-info {
    margin-top: 20px;
  }

  .product-info h3 {
    margin-bottom: 10px;
  }

  .brand {
    font-weight: bold;
  }

  .price {
    color: green;
  }

  .stepper {
    margin-bottom: 20px;
  }

  .title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  .description {
    text-align: justify;
    margin-bottom: 20px;
  }

  .materials {
    margin-bottom: 20px;
  }

  .material-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
  }

  .material-item span {
    margin-left: auto;
  }

  .material-item p {
    margin-bottom: 0;
    margin-left: 10px;
  }

  .material-details {
    display: none;
  }

  .recommended-products h3 {
    margin: 20px 0;
  }

  .recommended-products .card {
    margin-bottom: 20px;
  }

  .btn-submit {
        background-color: #829778;
        border: none;
        max-width: 900px;
        width: 100%;
        color: white;
    }

    .btn-submit:hover {
        background-color: #829765;
        color: white;
    }

  .form-control {
    margin-bottom: 20px;
  }
</style>
{% endblock %}