{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-color: #f4f4f4;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .step-item {
        text-align: center;
        position: relative;
    }

    .step-item span {
        display: block;
        width: 30px;
        height: 30px;
        background-color: #f8f9fa;
        color: #333;
        border-radius: 50%;
        line-height: 30px;
        font-weight: bold;
        margin: 0 auto 10px auto;
    }

    .step-item p {
        font-size: 14px;
        margin: 0;
    }

    .step-item.active span {
        background-color: #829778;
        color: #fff;
    }

    .step-item:not(:last-child):after {
        content: "";
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: #ccc;
    }

    .divider {
        width: 100%;
        height: 2px;
        background-color: #ccc;
        margin: 10px 0;
    }

    .card {
        background-color: #f4f4f4;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
    }

    .shipping-option label {
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .address-option {
        margin-bottom: 10px;
    }

    .address-option input[type="radio"] {
        margin-right: 10px;
    }

    .shipping-option input[type="radio"] {
        margin-right: 10px;
    }

    .shipping-divider {
        width: 100%;
        height: 2px;
        background-color: #ccc;
        margin: 10px 0;
    }

    .card img {
        width: 200px;
        height: auto;
        margin-right: 10px;
        align-items: start;
    }

    .card-details {
        background-color: #f4f4f4;
        display: flex;
        align-items: center;
        /* Cambiado de 'end' a 'center' para centrar verticalmente */
        padding: 10px;
    }

    .card-details img {
        height: 100%;
        /* Hace que la imagen ocupe toda la altura del contenedor */
        max-height: 100%;
        margin-right: 10px;
    }

    .card-details div {
        flex: 1;
    }

    .card-details h4,
    .card-details p {
        margin: 0;
        font-size: 100%;
        /* Ajusta el tamaño del texto al 100% de la fuente original */
    }

    .card-details p:last-child {
        margin-bottom: 10px;
        /* Ajusta el margen inferior del último párrafo para separar del borde */
    }

    .card-below {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-top: 10px;
    }

    .card-below p {
        margin: 0;
    }

    .summary-item {
        background: #f4f4f4;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        padding: 10px;
        margin-bottom: 10px;
    }

    .summary-item p {
        margin-bottom: 0.5rem;
    }

    .summary-total {
        font-weight: bold;
    }

    .btn-continue {
        background-color: #829778;
        color: white;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: .25rem;
        cursor: pointer;
        margin-top: 15px;
    }

    .btn-continue:hover {
        background-color: #5a6268;
    }

    .btn-addAddress {
        background-color: #829778;
        color: white;
        width: 200px;
        padding: 10px;
        border: none;
        border-radius: .25rem;
        cursor: pointer;
        margin-top: 15px;
    }

    .btn-addAddress:hover {
        background-color: #5a6268;
    }

    .payment-logo {
        width: 40px;
        height: auto;
        margin-right: 10px;
    }

    .grid-form {
        display: grid;
        gap: 10px;
    }

    .grid-form input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    .grid-form button {
        background-color: #829778;
        color: white;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: .25rem;
        cursor: pointer;
        margin-top: 15px;
    }

    .grid-form button:hover {
        background-color: #5a6268;
    }
</style>
<div class="container my-5">
    <div class="row mb-4">
        <!-- Stepper -->
        <div class="col-12">
            <div class="steps d-flex justify-content-between">
                <div class="step-item active">
                    <span class="step-circle">1</span>
                    <p class="step-title">Shipping Method</p>
                </div>
                <div class="step-item">
                    <span class="step-circle">2</span>
                    <p class="step-title">Address</p>
                </div>
                <div class="step-item">
                    <span class="step-circle">3</span>
                    <p class="step-title">Payment</p>
                </div>
            </div>
        </div>
    </div>
    <div id="step-content" class="row">
    </div>
    <div id="address-form-container"></div>
    <script>
        let currentStep = 1;
        const radioSelections = {};

        function nextStep() {
            const currentStepContent = document.getElementById(`step-${currentStep}`);
            const selectedRadio = currentStepContent.querySelector('input[type="radio"]:checked');

            if (selectedRadio) {
                radioSelections[currentStep] = selectedRadio.value; // Save the current selection
                const nextStep = currentStep + 1;
                if (nextStep <= 3) {
                    updateContent(nextStep);
                    currentStep = nextStep;
                }
            } else {
                alert('Please select an option before continuing.');
            }
        }

        // Función para actualizar el contenido según el paso
        function updateContent(step) {
            const stepContent = document.getElementById("step-content");
            const steps = document.querySelectorAll(".step-item");

            // Quita la clase 'active' de todos los steps
            steps.forEach((step) => {
                step.classList.remove("active");
            });

            // Agrega la clase 'active' al step actual
            steps[step - 1].classList.add("active");

            switch (step) {
                case 1:
                    stepContent.innerHTML = `
                        <div class="row" id="step-1">
                            <!-- Shipping Options -->
                            <div class="col-md-7">
                                <div class="col-12">
                                    <input type="radio" name="shippingMethod" value="standard" ${radioSelections[1] === 'standard' ? 'checked' : ''}> Standard
                                    <p>Delivery in 3-5 business days - USD $65.00</p>
                                </div>
                                <div class="divider"></div> <!-- Divider line -->
                                <div class="col-12">
                                    <input type="radio" name="shippingMethod" value="express" ${radioSelections[1] === 'express' ? 'checked' : ''}> Express
                                    <p>Delivery in 1-2 business days - USD $95.00</p>
                                </div>
                                <div class="divider"></div> <!-- Divider line -->
                                <div class="col-12 mt-3">
                                    <input type="radio" name="shippingMethod" value="pickup" ${radioSelections[1] === 'pickup' ? 'checked' : ''}> Pickup Point
                                    <p>Pick up your order at our pickup point - USD $55.00</p>
                                </div>
                                <div class="divider"></div> <!-- Divider line -->
                            </div>

                            <!-- Order Summary -->
            <div class="col-md-5">
                <div class="card">
                    {% if detail_cart %}
                    {% for p in detail_cart%}
                    <div class="card-details d-flex">
                        <img src="{{p.producto.urlImagen}}" alt="Product Image" class="card-image">
                        <div>
                            <h4>{{p.producto.nombre}}</h4>
                            <p>Quantity: {{p.cantidad}}</p>
                            <p>Price: USD $ {{p.producto.precio}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif%}
                </div>

                <div class="summary-item">
                    <h4>Additional Information</h4>
                    <p class="summary-total">Subtotal: USD $ {{total_cart}}</p>
                    <p class="summary-total">TOTAL: USD $ {{total_cart}} <small>+VAT included</small></p>
                </div>
                <button class="btn-continue" onclick="nextStep()">${step === 3 ? 'PAY' : 'CONTINUE'}</button>
            </div>
                            `;
                    break;
                case 2:
                    stepContent.innerHTML = `
                    <div class="row" id="step-2">
                            <!-- Addresses -->
                            <div class="col-md-7">
                                {% if domicilio %}
                                <div class="col-12 address-option">
                                    <input type="radio" name="address" id="address2" ${radioSelections[2] === 'address2' ? 'checked' : ''}>
                                    <label for="address2">Address</label>
                                    <p>{{domicilio}}</p>
                                </div>
                                {% endif %}
                                <div class="divider"></div> <!-- Divider line -->
                                <a href="{% url 'auth:profile' %}"><button class="btn-addAddress">Add Address</button></a>
                            </div>

            <div class="col-md-5">
                <div class="card">
                    <div class="card">
                    {% if detail_cart %}
                    {% for p in detail_cart%}
                    <div class="card-details d-flex">
                        <img src="{{p.producto.urlImagen}}" alt="Product Image" class="card-image">
                        <div>
                            <h4>{{p.producto.nombre}}</h4>
                            <p>Quantity: {{p.cantidad}}</p>
                            <p>Price: USD $ {{p.producto.precio}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif%}
                </div>

                <div class="summary-item">
                    <h4>Additional Information</h4>
                    <p class="summary-total">Subtotal: USD $ {{total_cart}}</p>
                    <p class="summary-total">TOTAL: USD $ {{total_cart}} <small>+VAT included</small></p>
                </div>
                <button class="btn-continue" onclick="nextStep()">${step === 3 ? 'PAY' : 'CONTINUE'}</button>
            </div>
                            `;
                    break;
                case 3:
                    stepContent.innerHTML = `
                    <div class="row" id="step-3">
                            <!-- Payment Method -->
                            <div class="col-md-7">
                                <div class="col-12 address-option">
                                    <input type="radio" name="payment" id="payment1" ${radioSelections[3] === 'payment1' ? 'checked' : ''}>
                                    <img class="payment-logo" src="{% static 'img/mastercard.png' %}" alt="Product Image">
                                    <label for="payment1">Mastercard</label>
                                </div>
                                <div class="divider"></div> <!-- Divider line -->
                                <div class="col-12 address-option">
                                    <input type="radio" name="payment" id="payment2" ${radioSelections[3] === 'payment2' ? 'checked' : ''}>
                                    <img class="payment-logo" src="{% static 'img/visa.png' %}" alt="Product Image">
                                    <label for="payment2">Visa</label>
                                </div>
                                <div class="divider"></div> <!-- Divider line -->
                                <div class="col-12 address-option">
                                    <input type="radio" name="payment" id="payment3" ${radioSelections[3] === 'payment3' ? 'checked' : ''}>
                                    <img class="payment-logo" src="{% static 'img/paypal.png' %}" alt="Product Image">
                                    <label for="payment3">Paypal</label>
                                </div>
                                <div class="divider"></div> <!-- Divider line -->
                                <div class="col-12 address-option">
                                    <input type="radio" name="payment" id="payment4" ${radioSelections[3] === 'payment4' ? 'checked' : ''}>
                                    <img class="payment-logo" src="{% static 'img/amex.png' %}" alt="Product Image">
                                    <label for="payment4">Amex</label>
                                </div>
                                <div class="divider"></div> <!-- Divider line -->
                                <div class="col-12 address-option">
                                    <input type="radio" name="payment" id="payment5" ${radioSelections[3] === 'payment5' ? 'checked' : ''}>
                                    <img class="payment-logo" src="{% static 'img/affinity.png' %}" alt="Product Image">
                                    <label for="payment5">Affinity</label>
                                </div>
                                <div class="divider"></div> <!-- Divider line -->
                            </div>

                            <!-- Order Summary -->
            <div class="col-md-5">
                <div class="card">
                    <div class="card">
                    {% if detail_cart %}
                    {% for p in detail_cart%}
                    <div class="card-details d-flex">
                        <img src="{{p.producto.urlImagen}}" alt="Product Image" class="card-image">
                        <div>
                            <h4>{{p.producto.nombre}}</h4>
                            <p>Quantity: {{p.cantidad}}</p>
                            <p>Price: USD $ {{p.producto.precio}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif%}
                </div>
                <div class="summary-item">
                    <h4>Additional Information</h4>
                    <p class="summary-total">Subtotal: USD $ {{total_cart}}</p>
                    <p class="summary-total">TOTAL: USD $ {{total_cart}} <small>+VAT included</small></p>
                </div>
                <form method="post" action="{% url 'shopping:pay' %}">
                    {% csrf_token %}
                    <button class="btn-continue" >PAY</button>
                </form>
            </div>
                                                        `;
                    break;
                // Agrega casos para los siguientes pasos aquí
                default:
                    break;
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            updateContent(currentStep);

            const stepIcons = document.querySelectorAll(".step-item");

            stepIcons.forEach((icon, index) => {
                icon.addEventListener("click", () => {
                    updateContent(index + 1);
                    currentStep = index + 1;
                });
            });
        });
    </script>

    {% endblock %}