{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-color: #f4f4f4;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .navbar {
        background-color: #f4f4f4;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #ccc;
        position: relative;
    }

    .navbar-brand {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .nav {
        width: 100%;
        justify-content: center;
        padding-left: 0;
    }

    .nav-item {
        display: inline-block;
        margin: 0 10px;
    }

    a.nav-link {
        color: black;
        font-size: 16px;
        text-decoration: none;
    }

    a.nav-link:hover {
        text-decoration: none;
        color: #45a049;
        font: bold;
    }

    .overlay-word {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        padding: 5px;
        margin: 5px;
    }

    .search-cart-login {
        display: flex;
        align-items: center;
        height: 40px;
        /* Ajusta la altura según tus necesidades */
    }

    .login-link,
    .search-bar,
    .cart-icon {
        margin-left: 10px;
        margin-right: 5px;
        height: 100%;
        /* Ajusta la altura según tus necesidades */
    }

    .login-link {
        font-size: 14px;
        /* Ajusta el tamaño del texto según tus necesidades */
    }

    .search-bar {
        border: none;
        padding: 5px;
        border-radius: 3px;
    }

    .cart-icon,
    .login-link {
        color: black;
        cursor: pointer;
    }

    .cart-icon img {
        height: 100%;
        /* Ajusta la altura según tus necesidades */
    }

    .footer {
        background-color: #333333;
        color: white;
        padding: 20px 0;
        width: 100%;
        text-align: center;
        position: fixed;
        bottom: 0;
    }

    .login-container {
        max-width: 600px;
        margin: 20px auto;
        background: #f4f4f4;
        padding: 20px;
        /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
        margin-top: 50px;
        /* Ajusta el margen superior según sea necesario */
        margin-bottom: 120px;
        /* Ajusta el margen inferior según sea necesario */
    }

    .btn-submit {
        background-color: #4CAF50;
        border: none;
        max-width: 900px;
        width: 100%;
    }

    .btn-submit:hover {
        background-color: #45a049;
    }

    .form-control {
        margin-bottom: 20px;
    }

    .cart-link {
        height: 100%;
        display: inline-block;
    }

    .step-item {
        text-align: center;
        position: relative;
    }

    .step-item span {
        display: block;
        width: 30px;
        height: 30px;
        background-color: #f8f9fa;
        color: #333;
        border-radius: 50%;
        line-height: 30px;
        font-weight: bold;
        margin: 0 auto 10px auto;
    }

    .step-item p {
        font-size: 14px;
        margin: 0;
    }

    .step-item.active span {
        background-color: #829778;
        color: #fff;
    }

    .step-item:not(:last-child):after {
        content: "";
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: #ccc;
    }

    .divider {
        width: 100%;
        height: 2px;
        background-color: #ccc;
        margin: 10px 0;
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .shipping-option label {
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .address-option {
        margin-bottom: 10px;
    }

    .address-option input[type="radio"] {
        margin-right: 10px;
    }

    .shipping-option input[type="radio"] {
        margin-right: 10px;
    }

    .shipping-divider {
        width: 100%;
        height: 2px;
        background-color: #ccc;
        margin: 10px 0;
    }

    .card img {
        width: 100px;
        height: auto;
        margin-right: 10px;
    }

    .card-details {
        display: flex;
        flex-direction: column;
    }

    .card-below {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-top: 10px;
    }

    .card-below p {
        margin: 0;
    }

    .summary-item {
        background: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        padding: 10px;
        margin-bottom: 10px;
    }

    .summary-item p {
        margin-bottom: 0.5rem;
    }

    .summary-total {
        font-weight: bold;
    }

    .btn-continue {
        background-color: #829778;
        color: white;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: .25rem;
        cursor: pointer;
        margin-top: 15px;
    }

    .btn-continue:hover {
        background-color: #5a6268;
    }
</style>
<div class="container my-5">
    <div class="row mb-4">
        <!-- Stepper -->
        <div class="col-12">
            <div class="steps d-flex justify-content-between">
                <div class="step-item active">
                    <span class="step-circle">1</span>
                    <p class="step-title">Metodo de Envío</p>
                </div>
                <div class="step-item">
                    <span class="step-circle">2</span>
                    <p class="step-title">Dirección</p>
                </div>
                <div class="step-item">
                    <span class="step-circle">3</span>
                    <p class="step-title">Pago</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Contenedor para el contenido del paso -->
    <div id="step-content" class="row">
        <!-- Contenido del paso se actualizará aquí -->
    </div>

    <script>
        let currentStep = 1;

        function nextStep() {
            const nextStep = currentStep + 1;
            if (nextStep <= 3) {
                updateContent(nextStep);
                currentStep = nextStep;
            }
        }

        // Función para actualizar el contenido según el paso
        function updateContent(step) {
            const stepContent = document.getElementById("step-content");
            switch (step) {
                case 1:
                    stepContent.innerHTML = `
                            <div class="row">
                            <!-- Shipping Options -->
                                <div class="col-md-7">
                                    <div class="col-12">
                                        <input type="radio" name="shippingMethod" value="standard"> Standard
                                            <p>Entrega en 3-5 días hábiles - MX $65.00</p>
                                    </div>
                                    <div class="divider"></div> <!-- Línea divisoria -->
                                    <div class="col-12">
                                        <input type="radio" name="shippingMethod" value="express"> Express
                                            <p>Entrega en 1-2 días hábiles - MX $95.00</p>
                                    </div>
                                    <div class="divider"></div> <!-- Línea divisoria -->
                                    <div class="col-12 mt-3">
                                        <input type="radio" name="shippingMethod" value="pickup"> Punto de recogida
                                            <p>Recoge tu pedido en nuestro punto de recogida - MX $55.00</p>
                                    </div>
                                    <div class="divider"></div> <!-- Línea divisoria -->
                                </div>

                                <!-- Order Summary -->
                                <div class="col-md-5">
                                    <div class="card">
                                        <img src="{% static 'img/siri.png' %}" alt="Producto Image">
                                            <div class="card-details">
                                                <h4>Siri cream</h4>
                                                <p>Cantidad: 1</p>
                                                <p>Precio: MX $699.00</p>
                                            </div>
                                    </div>

                                    <div class="summary-item">
                                        <h4>Información adicional</h4>
                                        <p class="summary-total">Subtotal: MX $699.00</p>
                                        <p class="summary-total">TOTAL: MX $699.00 <small>+IVA incluido</small></p>
                                    </div>
                                    <button class="btn-continue" onclick="nextStep()">CONTINUAR</button>
                                </div>
                            </div>
                            `;
                    break;
                case 2:
                    stepContent.innerHTML = `
                        <div class="col-12">
                            <div class="address-option">
                                <input type="radio" name="address" id="address1" checked>
                                <label for="address1">Dirección 1</label>
                                <p>Detalles de la dirección 1</p>
                            </div>
                            <div class="address-option">
                                <input type="radio" name="address" id="address2">
                                <label for="address2">Dirección 2</label>
                                <p>Detalles de la dirección 2</p>
                            </div>
                            <div class="address-option">
                                <input type="radio" name="address" id="address3">
                                <label for="address3">Dirección 3</label>
                                <p>Detalles de la dirección 3</p>
                            </div>
                        </div>
                        <div class="divider"></div> <!-- Línea divisoria -->
                        <div class="col-12 mt-3">
                            <button class="btn btn-primary" onclick="nextStep()">Siguiente</button>
                        </div>
                    `;
                    break;
                // Agrega casos para los siguientes pasos aquí

                default:
                    break;
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            updateContent(currentStep);
        });
    </script>

    {% endblock %}